<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Users:</strong>
  <ul>
    <%= @project.users.each do |user| %>
      <li><%= user.name %></li>  
    <% end %>
  </ul>
</p>

<%= render 'users/add_user' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
